@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    color: #ffffff;
    font-family: "Josefin Sans";
}

.photos div img {
    width: 100%;
    position: relative;
    float: left;
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    position: fixed;
}

#menuToggle a {
    text-decoration: none;
    color: #ffffff;

    transition: color 0.3s ease;
}



#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */

.ham-menu {
    position: absolute;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #ffffff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    width: 150px;
    height: 1000px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 120px;

    background-color: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
    transform: none;
}


body {
    margin: 0;
}

.landing {
    flex-wrap: wrap;
    height: 100vh;
    background-image: url(images/animations/ani3.gif);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.landing p {
    font-family: "Josefin Sans";
    font-size: x-large;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    margin-top: 78px;


}

.sidebar {
    display: none;
}


.about {
    color: rgb(0, 0, 0);
    padding-top: 55px;
    margin: 50;
    padding-bottom: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.about p {
    padding-left: 20px;
    padding-right: 20px;
    color: #636363;


}

.about h1,
h2,
h3,
h4 {
    color: #f2f2f2;
    padding-left: 20px;
    font-size: medium;
}




@media (min-width: 1000px) {

    .sidebar {
        display: block;
    }

    #menuToggle {
        display: none;
    }

    .landing {
        flex-wrap: wrap;
        margin-left: 200px;
        height: 100vh;
        background-image: url(images/animations/ani3.gif);
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        filter: grayscale(100%);
    }

    .landing:hover {
        filter: grayscale(0%);
    }

    .landing img {
        width: 100%;
    }

    .landing p {
        font-family: "Josefin Sans";
        font-size: xx-large;
        color: #ffffff;
        text-align: left;
        margin-left: 10px;
        margin-top: 70px;


    }


    .photos {
        display: flex;
        flex-wrap: wrap;
        margin-left: 200px;
        background-color: #000;
    }


    .photos div {
        width: 25%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .photos img,
    .landing img {
        width: 100%;
        float: left;
        float: left;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
    }

    .photos img:hover,
    .landing img:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
    }


    .sidebar {
        position: fixed;
        width: 200px;
        top: 0;
        left: 0;
        bottom: 0;
        background: #fff;
        padding-top: 20px;
    }

    .sidebar h1 {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        font-family: "Josefin Sans";
        letter-spacing: 2px;
        font-weight: 400;
        margin: 0;
        font-size: 25px;
        text-transform: uppercase;
    }

    .sidebar a {
        display: block;
        padding: 5px 70px;
        color: #000;
        text-decoration: none;
        font-family: "Josefin Sans";
        letter-spacing: 2px;
    }

    .sidebar a:hover {
        color: #D89028;
        font-style: italic;
    }

    .about {
        margin-left: 200px;
        background-color: rgb(245, 245, 245);
    }

    .about h1,
    h2,
    h3,
    h4 {
        color: black;
    }

}

















* {
    box-sizing: border-box;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(87, 41, 41, 0.5);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}